# Introduction
On this [Link](https://datastudio.google.com/reporting/9814ff49-4182-4809-bb0e-aea46f742882) we can find a report on Google Data Studio

All [data](https://www.kaggle.com/yamqwe/2018-w51-london-bus-safety-performancee) from Kaggle.com

In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('./data/TFL Bus Safety.csv')
raw.sample(3)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
2178,2015,2015-02-01,299,London General,Go-Ahead,Garage Not Available,None London Borough,Injuries treated on scene,Onboard Injuries,Pedestrian,Male,Adult
1709,2015,2015-06-01,275,East London,Stagecoach,Garage Not Available,Redbridge,Injuries treated on scene,Collision Incident,Passenger,Female,Adult
9136,2016,2016-06-01,316,Metroline,Metroline,Garage Not Available,Camden,Injuries treated on scene,Onboard Injuries,Passenger,Female,Adult

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23158 entries, 0 to 23157
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       23158 non-null  int64
 1   Date Of Incident           23158 non-null  object
 2   Route                      23158 non-null  object
 3   Operator                   23158 non-null  object
 4   Group Name                 23158 non-null  object
 5   Bus Garage                 23158 non-null  object
 6   Borough                    23158 non-null  object
 7   Injury Result Description  23158 non-null  object
 8   Incident Event Type        23158 non-null  object
 9   Victim Category            23158 non-null  object
 10  Victims Sex                23158 non-null  object
 11  Victims Age                23158 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB

In [4]:
raw.tail(3)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
23155,2018,2018-09-01,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

In [5]:
raw.sample(20)

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
20093,2018,2018-04-01,71,London United,London United,Tolworth,Kingston upon Thames,Injuries treated on scene,Slip Trip Fall,Passenger,Female,Adult
527,2015,2015-04-01,75,East London,Stagecoach,Garage Not Available,Croydon,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Passenger,Female,Adult
16009,2017,2017-08-01,410,Arriva London South,Arriva London,Thornton Heath,Croydon,Reported Minor Injury - Treated at Hospital,Personal Injury,Passenger,Male,Unknown
7281,2016,2016-11-01,D6,Docklands Buses,Go-Ahead,Silvertown,Tower Hamlets,Taken to Hospital – Reported Serious Injury or...,Slip Trip Fall,Passenger,Female,Adult
18412,2018,2018-01-01,18,London United,London United,Park Royal,Brent,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
8971,2016,2016-06-01,106,Arriva London North,Arriva London,Garage Not Available,Not specified,Injuries treated on scene,Collision Incident,Passenger,Male,Adult
12285,2017,2017-02-01,32,Metroline,Metroline,Cricklewood,Camden,Injuries treated on scene,Personal Injury,Passenger,Male,Child
10946,2016,2016-02-01,44,London General,Go-Ahead,Garage Not Available,Wandsworth,Injuries treated on scene,Onboard Injuries,Passenger,Unknown,Child
3757,2015,2015-09-01,9,London United,London United,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Passenger,Female,Adult
2375,2015,2015-03-01,63,Metrobus,Go-Ahead,Garage Not Available,Camden,Injuries treated on scene,Collision Incident,Bus Driver,Male,Adult
22817,2018,2018-09-01,117,Metroline,Metroline,Brentford,Hounslow,Taken to Hospital – Reported Serious Injury or...,Collision Incident,3rd Party driver / Occupant,Male,Adult
22990,2018,2018-09-01,285,London United,London United,Hounslow Heath,Hounslow,Injuries treated on scene,Slip Trip Fall,Passenger,Male,Adult
20574,2018,2018-05-01,63,London Central,Go-Ahead,Peckham,Camden,Injuries treated on scene,Slip Trip Fall,Passenger,Female,Adult
9469,2016,2016-07-01,126,Metrobus,Go-Ahead,Orpington (Metrobus),Lewisham,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
12384,2017,2017-02-01,89,London General,Go-Ahead,Bexleyheath,Bexley,Injuries treated on scene,Personal Injury,Passenger,Male,Adult
17830,2017,2017-11-01,P12,London Central,Go-Ahead,Peckham,Southwark,Injuries treated on scene,Slip Trip Fall,Passenger,Female,Adult
21784,2018,2018-07-01,102,Arriva London North,Arriva London,Palmers Green,Barnet,Injuries treated on scene,Slip Trip Fall,Passenger,Male,Unknown
1842,2015,2015-06-01,B15,Arriva Kent Thameside,Arriva Kent Thameside,Garage Not Available,Bexley,Injuries treated on scene,Onboard Injuries,Passenger,Female,Elderly
20014,2018,2018-04-01,27,London United,London United,Stamford Brook,Westminster,Injuries treated on scene,Personal Injury,Passenger,Female,Adult
13239,2017,2017-03-01,607,Metroline West,Metroline,Uxbridge,Ealing,Reported Minor Injury - Treated at Hospital,Personal Injury,Passenger,Male,Elderly

## Creazione dataframe per il lavoro

In [6]:
df = raw.copy()

In [7]:
df.columns

Index(['Year', 'Date Of Incident', 'Route', 'Operator', 'Group Name',
       'Bus Garage', 'Borough', 'Injury Result Description',
       'Incident Event Type', 'Victim Category', 'Victims Sex', 'Victims Age'],
      dtype='object')

In [8]:
df.columns = ['Year', 'Month', 'Route', 'Operator', 'Group_Name',
       'Bus_Garage', 'Borough', 'Injury_Result_Description',
       'Incident_Event_Type', 'Victim_Category', 'Victims_Sex', 'Victims_Age']

### Eliminare da colonna Date
m = df.Month.str.split(pat="-")

In [9]:
m = df.Month.str.split(pat="-")
m[0][1]

'01'

In [10]:
df = df.replace(df['Month'],m[0][1])
df

,Year,Month,Route,Operator,Group_Name,Bus_Garage,Borough,Injury_Result_Description,Incident_Event_Type,Victim_Category,Victims_Sex,Victims_Age
0,2015,2015-01-01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,2015-01-01,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,2015-01-01,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,2018-09-01,(blank),East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,2018-09-01,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,2018-09-01,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,2018-09-01,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,2018-09-01,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

In [11]:
import numpy as np
m = df['Month'].astype(str)
month = np.array([Month[5:7] for Month in m])
month

array(['01', '01', '01', ..., '09', '09', '09'], dtype='<U2')

In [12]:
df.insert(2,'month', month)

In [13]:
df.head(2)

,Year,Month,month,Route,Operator,Group_Name,Bus_Garage,Borough,Injury_Result_Description,Incident_Event_Type,Victim_Category,Victims_Sex,Victims_Age
0,2015,2015-01-01,01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,2015-01-01,01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown

In [14]:
df.drop('Month', axis=1, inplace=True)

In [15]:
df

,Year,month,Route,Operator,Group_Name,Bus_Garage,Borough,Injury_Result_Description,Incident_Event_Type,Victim_Category,Victims_Sex,Victims_Age
0,2015,01,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,01,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,01,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,01,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,01,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,09,(blank),East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,09,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,09,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,09,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,09,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

replace mesi

In [16]:
annual_dict = {'01': 'Jan','02': 'Feb','03': 'Mar','04': 'Apr','05': 'May','06': 'Jun','07': 'Jul','08': 'Aug','09': 'Sep','10': 'Oct','11': 'Nov','12': 'Dec'}

df.month.replace(annual_dict, inplace=True)

In [17]:
df

,Year,month,Route,Operator,Group_Name,Bus_Garage,Borough,Injury_Result_Description,Incident_Event_Type,Victim_Category,Victims_Sex,Victims_Age
0,2015,Jan,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,Jan,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,Jan,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,Jan,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,Jan,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,Sep,(blank),East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,Sep,(blank),London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,Sep,(blank),London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,Sep,(blank),London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,Sep,(blank),Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

In [18]:
df.Route.replace('(blank)', np.nan, inplace=True)

In [19]:
df.Bus_Garage.replace('Garage Not Available', np.nan, inplace=True)

In [20]:
df

,Year,month,Route,Operator,Group_Name,Bus_Garage,Borough,Injury_Result_Description,Incident_Event_Type,Victim_Category,Victims_Sex,Victims_Age
0,2015,Jan,1,London General,Go-Ahead,NaN,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,Jan,4,Metroline,Metroline,NaN,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,Jan,5,East London,Stagecoach,NaN,Havering,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,Jan,5,East London,Stagecoach,NaN,None London Borough,Taken to Hospital – Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,Jan,6,Metroline,Metroline,NaN,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly
...,...,...,...,...,...,...,...,...,...,...,...,...
23153,2018,Sep,NaN,East London,Stagecoach,West Ham,Newham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23154,2018,Sep,NaN,London United,London United,Hounslow,Not specified,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23155,2018,Sep,NaN,London United,London United,Park Royal,Harrow,Injuries treated on scene,Slip Trip Fall,Operational Staff,Male,Adult
23156,2018,Sep,NaN,London United,London United,Shepherds Bush,Hammersmith & Fulham,Injuries treated on scene,Personal Injury,Bus Driver,Male,Adult
23157,2018,Sep,NaN,Metroline,Metroline,Holloway,Islington,Injuries treated on scene,Personal Injury,Other,Unknown,Unknown

In [21]:
df.isna().sum()

Year                            0
month                           0
Route                          14
Operator                        0
Group_Name                      0
Bus_Garage                   8572
Borough                         0
Injury_Result_Description       0
Incident_Event_Type             0
Victim_Category                 0
Victims_Sex                     0
Victims_Age                     0
dtype: int64

In [22]:
df.Victims_Sex.value_counts()

Female     11847
Male        7709
Unknown     3602
Name: Victims_Sex, dtype: int64

In [23]:
df.Victims_Age.value_counts()

Adult      10754
Unknown     7135
Elderly     2769
Child       2181
Youth        319
Name: Victims_Age, dtype: int64

In [24]:
df.Victim_Category.value_counts()

Passenger                      18828
Pedestrian                      1612
Bus Driver                      1484
3rd Party driver / Occupant      573
Cyclist                          275
Member Of Public                 127
Motorcyclist                     102
Operational Staff                 59
Cyclist                           33
Conductor                         28
Other                             16
Contractor Staff                   6
TfL Staff                          4
Non-Operational Staff              4
Motorcyclist                       4
Insufficient Data                  2
Operations staff (other)           1
Name: Victim_Category, dtype: int64

### Sistemare Victim_Category, raggruppando valori simili/uguali

In [25]:
df.Incident_Event_Type.value_counts()

Slip Trip Fall             6981
Onboard Injuries           6563
Personal Injury            4596
Collision Incident         4166
Assault                     590
Activity Incident Event     114
Vandalism Hooliganism        73
Safety Critical Failure      66
Fire                          6
Robbery                       3
Name: Incident_Event_Type, dtype: int64

In [26]:
df.Borough.value_counts()

Westminster             1571
Southwark               1107
Lambeth                 1107
Croydon                 1032
Lewisham                1006
Barnet                   922
Camden                   900
Brent                    887
Ealing                   863
Greenwich                832
Haringey                 831
Hackney                  796
Islington                769
Bromley                  673
Havering                 652
Hounslow                 642
Newham                   634
Hammersmith & Fulham     632
Enfield                  584
None London Borough      561
Not specified            553
Wandsworth               551
Waltham Forest           526
Hillingdon               517
Redbridge                470
Kingston upon Thames     451
Tower Hamlets            435
Bexley                   414
Richmond Upon Thames     403
Harrow                   384
Barking & Dagenham       374
Kensington & Chelsea     334
Merton                   309
City of London           243
Sutton                   193
Name: Borough, dtype: int64

In [27]:
df.Injury_Result_Description.value_counts()

Injuries treated on scene                                          17336
Taken to Hospital – Reported Serious Injury or Severity Unknown     2994
Reported Minor Injury - Treated at Hospital                         2786
Fatal                                                                 42
Name: Injury_Result_Description, dtype: int64

In [28]:
df.Bus_Garage.value_counts()

Plumstead              570
Holloway               448
Cricklewood            401
Tottenham              397
Camberwell             381
                      ...
Kangley Bridge Road     16
Heathrow                 8
Edmonton                 5
South Mimms              2
Hatfield                 1
Name: Bus_Garage, Length: 83, dtype: int64

In [29]:
df.Operator.value_counts()

Metroline                3457
Arriva London North      3208
East London              2402
London United            2263
Selkent                  1808
Arriva London South      1743
London General           1723
London Central           1367
Metroline West           1232
Abellio London            963
Metrobus                  786
Tower Transit             738
Arriva The Shires         305
Blue Triangle Buses       281
London Sovereign          206
Quality Line              142
Abellio West              126
Arriva Kent Thameside     107
Docklands Buses           100
C T Plus                   77
TGM GROUP                  61
H R Richmond               59
Sullivan Buses              2
Uno Buses                   1
Sullivan Bus & Coach        1
Name: Operator, dtype: int64

In [30]:
df.Group_Name.value_counts()

Arriva London            4945
Metroline                4690
Go-Ahead                 4258
Stagecoach               4192
London United            2469
Abellio                  1089
Tower Transit             757
Arriva The Shires         306
Quality Line              201
Arriva Kent Thameside     107
CT Plus                    77
TGM                        63
Sullivan Buses              3
Uno Buses                   1
Name: Group_Name, dtype: int64

In [31]:
df.Year.value_counts()

2017    6573
2016    6093
2015    5715
2018    4777
Name: Year, dtype: int64

In [32]:
df.month.value_counts()

Jul    2268
Sep    2109
Jun    2097
May    2065
Apr    2044
Mar    2023
Aug    2013
Feb    1849
Jan    1847
Nov    1691
Oct    1642
Dec    1510
Name: month, dtype: int64

In [35]:
df.Route.value_counts()

OOS     321
18      191
55      177
24      165
73      156
       ...
650       1
T32       1
643       1
N381      1
298       1
Name: Route, Length: 611, dtype: int64